<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CleanITApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.CleanIT">

        <activity android:name=".features.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".features.auth.RegisterActivity"/>
        <activity android:name=".features.auth.OAuthCompleteActivity"/>
        <activity android:name=".features.auth.ResetPasswordActivity"/>
        <activity android:name=".features.home.HomeActivity"/>
        <activity android:name=".features.catalog.ServicesActivity"/>
        <activity android:name=".features.booking.BookingsActivity"/>
        <activity android:name=".features.booking.BookingDetailActivity"/>
        <activity android:name=".features.home.ProfileActivity"/>
        <activity android:name=".features.booking.CreateBookingActivity"/>
        <activity android:name=".features.dashboard.TechnicianDashboardActivity"/>
        <activity android:name=".features.dashboard.AdminDashboardActivity"/>
        <activity android:name=".features.dashboard.AdminBookingsActivity"/>

    </application>
</manifest>
